<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <th scope="row">{{employee.id}}</th>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.emailAddress}}</td>
      <td>{{employee.age}}</td>
    </tr>
  </tbody>
</table>

<h3 class="mt-3">This table uses 'Attribute directives'</h3>
<table class="table table-sm mt-1">
  <thead>
    <tr>
      <th scope="col">Full name</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of personAges">
      <td appHighlight [textFontWeight]="'600'">{{person.name}}</td>
      <td>{{person.age}}</td>
    </tr>
  </tbody>
</table>

<div class="mt-3">
  <h4>Add new</h4>
  <form (ngSubmit)="onSubmit(this.form.value)" [formGroup]="form">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <input type="text" class="form-control" name="firstName" placeholder="First name" formControlName="firstName">
      </div>
      <div class="col-md-6 col-sm-6">
        <input type="text" class="form-control" name="lastName" placeholder="Last name" formControlName="lastName">
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-6 col-sm-6">
        <input type="text" class="form-control" name="emailAddress" placeholder="Email address"
          formControlName="emailAddress">
      </div>
      <div class="col-md-6 col-sm-6">
        <input type="number" class="form-control" name="age" placeholder="Age" formControlName="age">
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-6 col-sm-6">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
